@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    @apply font-primary;
  }

  body {
    @apply bg-background;
  }

  h1 {
    @apply sm:text-[64px] font-[600]
  }

  h3 {
    @apply text-[28px] sm:text-[36px] font-[600]
  }

  h4 {
    @apply text-[20px] leading-6 font-[700]
  }

  .subtitle1 {
    @apply text-subtitle1 font-[600]
  }

  .subtitle2 {
    @apply text-subtitle2 font-[600]
  }

  .body1 {
    @apply text-body1 font-[500]
  }

  .body2 {
    @apply text-body2 font-[600]
  }

  .caption {
    @apply text-caption font-[500]
  }

  .overline {
    @apply text-overline font-[700] tracking-[1.2px]
  }

  .btn-secondary {
    @apply bg-secondary px-4 py-4 rounded-md
  }

  .btn-primary2 {
    @apply bg-transparent px-4 rounded-md border-2 border-black
  }
}

.ant-select-selector {
  background-color: transparent !important;
  border: 1px solid #00000099 !important;
  font-size: 16px !important;
  color: #00000099 !important;
}

.ant-select-selection-item {
  font-weight: 500 !important;
}

.ant-checkbox-inner {
  border: 1px solid #00000099 !important;
}

.ant-checkbox-wrapper {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #00000099;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #C473FF !important;
  border-color: #C473FF !important;
}

/* Customizing the checkmark (tick) color */
.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: white !important;
}

.ant-checkbox-wrapper>span:nth-child(1):hover {
  outline: 1px solid #C473FF !important;
}

.ant-slider-handle::after {
  background-color: black !important;
  border: 5px solid black !important;
}

.ant-slider-track {
  background-color: black !important;
}

.ant-slider-handle:after,
.ant-slider-handle:before {
  box-shadow: none !important;
  outline: none !important;
}

.ant-popover-inner{
  border-radius: 4px !important;
  margin-top: 6px;
}
.ant-popover-arrow{
  display: none !important;
}