/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Image Zoom Hover Effect */
.zoom  img {
  scale : 1;
  transition: scale 0.2s ease-in-out;
}
.zoom:hover  img{
  scale: 1.1;
}

.dim:hover img{
  transition: all 0.2s ease-in-out;
  filter: brightness(90%);
}

/* only for testing of size component may be removed later */
.size-selection{
  margin: 20px 0;
}

.size-btn, .color-btn {
  border: 0.95px solid #E5E5E5;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 3.8px;
  width: 40px;
}
.size-btn.active {
  border: 0.95px solid #E5E5E5;
  background-color: #c473ff;
}